.container{
    padding-top: 2rem; 
}

aside{
    font-size: 2rem;
}

.card{
    font-size: 1.6rem;
    width: 18rem;
    text-align: center;
}

.card-img-top{
    max-height: 18rem;
}

.card-body a{
    width: 6rem;
    height: 3rem;
}

.card-body a i{
    font-size: 2rem;
}